body {
  margin: 0;
  padding: 0;
}
.video-cont {
  background-color: #000;
  width: 100vw;
  height: 100vh;
}

video {
  display: block;
  margin: 0 auto;
  height: 100%;
}

.action-cont {
  height: 10rem;
  width: 4rem;
  position: absolute;
  top: calc((100vh - 10rem) / 2);
  right: 80px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
}

.record-btn-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid white;
  height: 40%;
  /* margin: 10px; */
}
.record-btn {
  height: 60%;
  width: 60%;
  background-color: red;
  border-radius: 50%;
}

.capture-btn-cont {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid white;
}
.capture-btn {
  background-color: aliceblue;
  border-radius: 50%;
  height: 60%;
  width: 60%;
}

.timer-cont {
  display: none;
  position: absolute;
  bottom: 7rem;
  left: 5rem;
  color: aliceblue;
  font-size: 1.5rem;
}

.filter-layer {
  z-index: 2;
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 0;
}

.filter-cont {
  height: 16rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc((100vh - 16rem) / 2);
  left: 5rem;
  z-index: 3;
}

.filter {
  background-image: url("https://picsum.photos/seed/picsum/200/300");
  background-repeat: no-repeat;
  height: 4rem;
  background-size: 100% 100%;
  background-blend-mode: color-burn;
}

.yellow {
  background-color: #f1c5723f;
}

.dracula{
  background-color: rgba(180, 131, 229, 0.377);
}

.sunshine{
  background-color: rgba(255, 140, 0, 0.397);
}

.library{
  position: absolute;
  bottom: 5rem;
  right : 5.5rem;
  color: white;
  font-size: 3rem;
  z-index: 2;
}