body {
  margin: 0;
  padding: 0;
}
.video-cont {
  background-color: #000;
  width: 100vw;
  height: 100vh;
}

video {
  display: block;
  margin: 0 auto;
  height: 100%;
}

.action-cont {
  height: 10rem;
  width: 4rem;
  position: absolute;
  top: calc((100vh - 10rem) / 2);
  right: 80px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.record-btn-cont {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid white;
  height: 40%;
  /* margin: 10px; */
}
.record-btn {
  height: 60%;
  width: 60%;
  background-color: red;
  border-radius: 50%;
}

.capture-btn-cont {
  width:100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid white;
}
.capture-btn{
  background-color:aliceblue;
  border-radius: 50%;
  height:60%;
  width:60%;
}
